* {
	margin: 0;
	padding: 0;
	border: 1px solid red; */
}

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: stretch;
	font-family: Roboto, sans-serif;
}

li {
	list-style-type: none;
	
}

a {
	text-decoration: none;
	color: white;
}

#section-one, #footer{
	background: #1F2937;
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
		
}

#header {
	display: flex;
	flex-direction: row;
	width: 1050px;
	justify-content: space-between;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
#header h2 {
	flex-basis: 200px;
	flex-grow: 1;
}
#hero-page {
	display: flex;
	flex-direction: row;
	width: 1050px;
	height: 300px;
	justify-content: space-between;
	align-items: center;
	margin: 40px;
	flex-grow: 1;
}

#hero-image img{
	width: 520px;
	height: 225px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

#main-hero h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
	margin-bottom: 10px;
}

#main-hero {
	padding-right: 80px;
}
.hero-header, .hero-secondary, .btn {
	margin-bottom: 20px;
}

.hero-secondary,
#header a {
	font-size: 18px;
	color: #E5E7EB;
}

#footer {
	justify-self: end;
}

.btn {
	font-size: 20px;
	margin-top: 10px;
	padding: 10px 40px;
	background: #3882F6;
	border-radius: 10px;
	font-weight: bold;
}

.btn:hover {
	background: #3d9eff;
}

#section-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
	padding: 100px;
	gap: 30px;
}

.info-container {
	display: flex;
	flex-direction: row;
	width: 1050px;
	justify-content: space-around;
	flex-wrap: wrap;
}

.info-header {
	font-size: 36px;
	font-weight: 1000;
	color: #1F2937;
}

.info-image {
	display: flex;
	flex-direction: column;
	width: 200px;
	padding: 10px;
	align-items: center;
	text-align: center;
	gap: 10px;
}

#info-item img{
	width: 180px;
	height: 180px;
	border: 5px solid #3882F6;
	border-radius: 15px;
	flex-shrink: 0;
}

.subtext {
	width: 180px;
	font-size: 20px;
	color: #565656;
}

#section-three {
	display: flex;
	flex-direction: column;
	padding: 150px 300px;
	background: #E5E7EB;
	align-items: center;
	
}

.quote-text {
	color: #565656;
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	width: 800px;
	
}

.credits {
	color: #363636;
	font-size: 24px;
	padding: 10px;
	margin-left: auto;
	font-weight: bold;
}

#section-four {
	display: flex;
	padding: 100px 0;
	justify-content: space-around;
}

#banner {
	display: flex;
	flex-direction: row;
	padding: 50px 100px;
	justify-content: space-between;
	align-items: center;
	width: 900px;
	background: #3882F6;
	border-radius: 15px;
	flex-wrap: wrap;
}

.left-items {
	flex-basis: 500px;
	flex-grow: 4;
	flex-shrink: 2;
}
.left-items h3 {
	font-size: 30px;
	color: white;
	
}
.left-items p {
	font-size: 20px;
	color: white;
}
.btn.right-items {
	border: 2px solid white;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 100px;
	text-align: center;
}

#footer {
	padding: 50px;
	font-size: 22px;
}
